<h3 class="text-center text-success font-weight-bold">Login</h3>  
<hr>

<form #form="ngForm" novalidate (submit)= "loginUser($event)">
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="email" class="control-label">Email Id</label>
            <input type="text" id="emailLogin" name="email" class="form-control" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="password" class="control-label">Password</label>
            <input type="password" id="passwordLogin" name="password" class="form-control"/>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12 text-right">
            <br>
            <button class="btn btn-success" type="submit">Login</button>
        </div>
    </div>
  </form>
  
    
    