<label class="label colorGrey"> <span class="colorBlack bold"> Stylish Shoes </span> in Wide Width Sizes Without Sacrificing Style for Comfort  
    &nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp; 
    Simply <span class="colorBlack bold"> Must-Have </span> Styles 
    &nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp; 
    Discover <span class="colorBlack bold"> New Season </span> Fashion Sandles 
</label>

<div style="width:100%; background-color:brown; text-align:center">
    <img src="./assets/images/slider/4.jpg"/>
</div>
<span><span class="title">Trending</span> &nbsp;&nbsp; <a href="#"> show more... </a> </span>
<hr class="linePink">
<div class="row">
    <div class="col-md-3">
        <img src="./assets/images/slider/2.jpg" width="100%"/>
    </div>
    <div class="col-md-3">
        <img src="./assets/images/slider/3.jpg" width="100%"/>
    </div>
    <div class="col-md-3">
        <img src="./assets/images/slider/5.jpg" width="100%"/>
    </div>
    <div class="col-md-3">
        <img src="./assets/images/slider/7.jpg" width="100%"/>
    </div>
</div>
<span><span class="title">New Arrivals</span> &nbsp;&nbsp; <a href="#"> show more... </a> </span>
<hr class="linePink">
<img src="./assets/images/slider/1.jpg" width="100%"/>